<div class="container">
  <div class="header">
    <button mat-icon-button color="primary" class="add-button" (click)="onAddTask()">
      <mat-icon class="add-button-icon" matTooltip="Add Task" matTooltipPosition="above">note_add</mat-icon>
    </button>
    <div class="search-bar">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchTerm" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="task-list-container">
    <div class="task-list to-do">
      <h2>To-Do</h2>
      <div class="task-section">
        <ng-container *ngFor="let task of tasks | filterTasks: searchTerm">
          <app-task *ngIf="!task.completed" [task]="task" (delete)="onDeleteTask($event)" (edit)="onEditTask($event)" (complete)="onCompleteTask($event)" [editing]="taskEditingIds.includes(task._id)"></app-task>
        </ng-container>
      </div>
    </div>
    <div class="task-list completed">
      <h2>Completed</h2>
      <div class="task-section">
        <ng-container *ngFor="let task of tasks | filterTasks: searchTerm">
          <app-task *ngIf="task.completed" [task]="task" (delete)="onDeleteTask($event)"></app-task>
        </ng-container>
      </div>
    </div>
  </div>
</div>
